 /* align icon to left  */
 #what .items .item {
	display: flex;
	text-align: left;
}
/* position  */
#what .items .item i {
	margin: 1.3rem;
	align-self: center;
	margin-bottom: 0;
}
#contact .map {
	flex: 2;
}